/*div {
	border: 1px solid black;
}*/

#heading {
	text-align: center;
	font-family: 'BenchNine', serif;
    font-size: 48px;
	font-weight: bold;
}


#currentWord {
	letter-spacing: 20px;
	font-size: 20px;
}

#img-container {
	width:400px;
	height:300px;
	align-items: center;
	margin-left:15%;

}