/*div {
	border: 1px solid black;
}*/

/*If find a bigger picture with better quality can use code below to stretch out image but
right now the repeated background isn't as fuzzy so keeping it*/
/*body {
	background-repeat: no-repeat;
	background-size:cover;
}*/

#heading {
	text-align: center;
	font-family: 'Permanent Marker', serif;
    font-size: 46px;

	color: white;
}

.gametext {
	color: #fff;
}

#currentWord {
	letter-spacing: 20px;
	font-size: 20px;
}

#img-container {
	width:400px;
	height:300px;
	align-items: center;
	margin-left:15%;

}