/*div {
	border: 1px solid black;
}*/


#heading {
	text-align: center;
	font-family: 'Permanent Marker', serif;
    font-size: 46px;

	color: white;
}

.gametext {
	color: #fff;
}

#currentWord {
	letter-spacing: 20px;
	font-size: 20px;
}

#img-container {
	width:400px;
	height:300px;
	align-items: center;
	margin-left:15%;

}